.name-search-input {
    padding:  5px;
}

.input-button {
    position: relative;
    background-color: green;
    border-color: green;
    font-family: fantasy;
    font-size: 20px;
    margin-left: 5px;
    cursor: pointer;
}

.add-button {
    background-color: yellowgreen;
    font-family: fantasy;
    margin-left: 5px;
    cursor: pointer;
    font-size: 20px;
}